[submodule "git-config"]
	path = git-config
	url = git@github.com:codegryff/git-config.git
[submodule "bash-config"]
	path = bash-config
	url = git@github.com:codegryff/bash-config.git
[submodule "vim-config"]
	path = vim-config
	url = git@github.com:codegryff/vim-config.git
[submodule "vscode-templates"]
	path = vscode-templates
	url = git@github.com:codegryff/vscode-templates.git
